{% extends "hr/global/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>   
<div class="page-heading">
    <h3>Staff Members</h3>
</div> 
<div class="page-content"> 
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              
                <p class="text-subtitle text-muted">Staff members under internship success</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">DataTable jQuery</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Minimal jQuery Datatable start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Staff Members
                </h5>
            </div>
            <div class="card-header">
                <button class="btn btn-primary" onclick="registerstaff()">Register New Staff Member</button>
            </div>
            
            <script>
                function registerstaff() {
                    // Specify URL and window properties
                    var url = '{% url "register_user" %}'; // Updated URL name
                    var windowName = 'Popup'; // Name of the popup window
                    var width = 500; // Width of the popup window
                    var height = 700; // Height of the popup window
                    var left = (window.innerWidth - width) / 2; // Position the popup window horizontally
                    var top = (window.innerHeight - height) / 2; // Position the popup window vertically
                    var features = 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes';
            
                    // Open the popup window
                    var popup = window.open(url, windowName, features);
                }
            </script>
            <div class="card-body">
                
                
            
                <div class="table-responsive datatable-minimal">
                    <table class="table" id="induction-posts">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Id Number</th>
                                <th>Department</th>
                                <th>Phone</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for staff in staff_members %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ staff.full_name }}</td>
                                <td>{{ staff.rsa_id_number }}</td>
                                <td>{{ staff.department.name }}</td>
                                <td>{{ staff.phone }}</td>
                                <td>{{ staff.status }}</td>
                                <td><a href="{% url 'staff-profile-view' staff.id %}">View</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No staff members found.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

    </section>
    <!-- Minimal jQuery Datatable end -->
</div>
{% endblock content %}
