
{% load static %}
<script src="{% static 'web/assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'web/assets/js/popper.min.js' %}"></script>
<script src="{% static 'web/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'web/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'web/assets/js/metisMenu.min.js' %}"></script>
<script src="{% static 'web/assets/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'web/assets/js/wow.min.js' %}"></script>
<script src="{% static 'web/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'web/assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'web/assets/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'web/assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'web/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'web/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'web/assets/js/plugins.js' %}"></script>
<script src="{% static 'web/assets/js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('#infoCarousel').carousel();
    });
</script>