{% load static %}
<section class="feature-area pb-30">
    <div class="container-fluid px-0">
        <div class="row gx-0">
            <div class="col-lg-4">
                <a href="{% url 'recruitment-page' %}">
                    <div class="single-feature">
                        <h6><span>01.</span> RECRUITMENT OF INTERNS</h6>
                        <h2>RECRUITMENT</h2>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a href="{% url 'placement-page' %}">
                    <div class="single-feature feat-2">
                        <h6><span>02.</span> Internship Placement</h6>
                        <h2>PLACEMENT</h2>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a href="{% url 'management-page' %}">
                    <div class="single-feature feat-3">
                        <h6><span>03.</span> Internship Management</h6>
                        <h2>Management</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
