{% load static %}
<div id="slider-one" class="main-slider-area">
    <div class="slider-bg">
        <div class="sliders-active owl-carousel owl-theme">
            <div class="item">
                <div class="container custom-container-slider">
                    <div class="dodlle-one"></div>
                    <div class="dodlle-one two"></div>
                    <div class="dodlle-one three"></div>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 order-last order-lg-first">
                            <div class="slider__content">
                                <h1 class="main-title-one">
                                    INTERNSHIP SUCCESS
                                </h1>
                                <p>We offer a well developed and well-managed internship program which enables interns to fully participate and engage in workplace environments.</p>
                                <ul class="btn-list d-md-flex align-items-center mt-45">
                                    <li><a class="theme_btn mr-30" href="{% url 'contact-page' %}">Contact Us</a></li>
                                    <li><a class="theme_btn border_btn" href="{% url 'about-page' %}">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="slider-right">
                                <img class="img-fluid" src="{% static 'web/assets/img/slider/hospitality-internships-in-mpumalanga.png' %}" alt="Internship Success">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container custom-container-slider">
                    <div class="dodlle-one"></div>
                    <div class="dodlle-one two"></div>
                    <div class="dodlle-one three"></div>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 order-last order-lg-first">
                            <div class="slider__content">
                                <h1 class="main-title-one">
                                    INTERNSHIP SUCCESS
                                </h1>
                                <p>We are a professional internship placement and management company which seeks to see all graduates benefit from a well-structured internship program.</strong></p>
                                <ul class="btn-list d-md-flex align-items-center mt-45">
                                    <li><a class="theme_btn mr-30" href="{% url 'contact-page' %}">Contact Us</a></li>
                                    <li><a class="theme_btn border_btn" href="{% url 'about-page' %}">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="slider-right">
                                <img class="img-fluid" src="{% static 'web/assets/img/slider/internship-success-slider01.jpg' %}" alt="Internship Success">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>