{% extends "administration/global/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>   
<div class="page-heading">
    <h3>Host Employers</h3>
</div> 
<div class="page-content"> 
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <a href="">Host Employers</a>
                <p class="text-subtitle text-muted">Host companies under internshi success</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">DataTable jQuery</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Minimal jQuery Datatable start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Posts
                </h5>
            </div>
            <div class="card-header">
                <button class="btn btn-primary" onclick="registerhostemployer()">Register New Host Employer</button>
            </div>
            
            <script>
                function registerhostemployer() {
                    // Specify URL and window properties
                    var url = '{% url "register_host_employer" %}'; // Updated URL name
                    var windowName = 'Popup'; // Name of the popup window
                    var width = 500; // Width of the popup window
                    var height = 700; // Height of the popup window
                    var left = (window.innerWidth - width) / 2; // Position the popup window horizontally
                    var top = (window.innerHeight - height) / 2; // Position the popup window vertically
                    var features = 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes';
            
                    // Open the popup window
                    var popup = window.open(url, windowName, features);
                }
            </script>
            <div class="card-body">
                
                
            
                <div class="table-responsive datatable-minimal">
                    <table class="table" id="induction-posts">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Joined Date</th>
                                <th>Number Of Interns</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for host_employer in host_employers %}
                        <tr>
                            <td>{{ host_employer.id }}</td>
                            <td>{{ host_employer.first_name }}</td>
                            <td>{{ host_employer.last_name }}</td>
                            <td>{{ host_employer.date_joined }}</td>
                            <td>5</td>
                            <td><a href="{% url 'host-employer-profile' hostemp_id=host_employer.id  %}">View</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

    </section>
    <!-- Minimal jQuery Datatable end -->
</div>
{% endblock content %}