<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Induction Application</title>
    <script>
        const ReloadInductionApplicationPostPage = (url) => {
            window.location.href = url;
            window.close();
        };

        // Automatically redirect and close the window after 2 seconds
        setTimeout(() => {
            ReloadInductionApplicationPostPage(`{% url "induction" %}`);
        }, 2000);
    </script>
</head>
<body>
    <p>You Have Successfully created a new Induction Application</p>
    <button onclick="ReloadInductionApplicationPostPage(`{% url "induction" %}`)">Close Window</button>
</body>
</html>
