{% extends "global/base.html" %}
{% block content %}   
<div class="page-heading">
    <h3>Logbook Preview</h3>
</div> 
<script src="assets/static/js/initTheme.js"></script>

    <!-- Bordered table start -->
    <section class="section">
        <div class="row" id="table-bordered">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Log Book Template</h4>
                    </div>
                        <div class="card-body">
                            <p class="card-text">STATEMENT OF WORK EXPERIENCE/LOGBOOK 
                            </p>
                            <button class="btn btn-primary">Print Logbook Template</button><br><br>
                            <!-- table bordered -->
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Name: 
                                                </th>
                                            <th>{{logbook_template.name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-bold-500">Company:</td>
                                            <td>{{logbook_template.company.company_name}}</td>                                       
                                        </tr>                                 
                                        <tr>
                                            <td class="text-bold-500">Qualification:</td>
                                            <td>{{logbook_template.qualification}}</td>                                       
                                        </tr>                                 
                                        <tr>
                                            <td class="text-bold-500">Total Credits:</td>
                                            <td>{{total_credits}}</td>                                       
                                        </tr>                                 
                                        <tr>
                                            <td class="text-bold-500">Minimum Required Credits:</td>
                                            <td>{{minimum_credits_required}}</td>                                       
                                        </tr>                                 
                                        <tr>
                                            <td class="text-bold-500">Minimum Percentage:</td>
                                            <td>{{percentage_pass}}%</td>                                       
                                        </tr>                                 
                                        <tr>
                                            <td class="text-bold-500">Interns:</td>
                                            <td>
                                                {{intern_logbook_count}}
                                            </td>                                       
                                        </tr>                                 
                                        <tr>
                                            <td class="text-bold-500">View Logbooks for Interns</td>
                                            <td>
                                                <span><button class="btn btn-primary" onclick="ViewInternLogbooks()">View</button></span>
                                            </td>                                       
                                        </tr>                                 
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bordered table end -->

    <!-- Bordered table start -->
    <section class="section" id='duties'>
        <div class="row" id="table-bordered">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-content">
                        <div class="card-body">
                            <p class="card-text">Duties 
                            </p>
                            <!-- table bordered -->
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th class="table-primary">CODE 
                                                </th>
                                            <th class="table-primary">NAME
                                                </th>
                                            <th class="table-primary">POINTS
                                                </th>
                                            <th class="table-primary">STATUS
                                                </th>
                                            <th class="table-primary">
                                                APPROVAL
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for work_item in logbook_template.qualification.workitems.all %}                                                    
                                        <thead>
                                            <tr>
                                                <th class="table-danger"> 
                                                    </th>
                                                <th class="table-danger">WorkItem: {{ work_item.name }}
                                                    </th>
                                                <th class="table-danger">
                                                    </th>
                                                <th class="table-danger">
                                                    </th>
                                                <th class="table-danger">              
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                            {% for logbook_deliverable in logbook_template.deliverables.all %}
                                            {% if logbook_deliverable.deliverable.work_item == work_item %}
                                            <tr>
                                            <td class="text-bold-500">DE{{logbook_deliverable.id}}</td>
                                            <td>{{logbook_deliverable.deliverable.name}}</td>
                                            <td>{{deliverable_pts}}</td>
                                            {% endif %}
                                            </tr>
                                            {% empty %}
                                            <td class="text-bold-500"></td>
                                            <td colspan="2">No deliverables for this work item.</td>
                                            <td></td>
                                            <td></td>
                                            {% endfor %}
                                        </tbody>
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bordered table start -->
    <section class="section" style="display: none;" id='logbooks'>
        <div class="row" id="table-bordered">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-content">
                        <div class="card-body">
                            <button class="btn btn-primary" onclick="ViewInternLogbooks()">close</button>
                            <br><br>
                            <p class="card-text">Intern Logbooks 
                            </p>
                            <!-- table bordered -->
                            <div class="table-responsive datatable-minimal">
                                <table class="table" id="induction-posts">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>FULL NAME</th>
                                            <th>LOGBOOK</th>
                                            <th>QUALIFICATION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for intern_logbook in intern_logbooks.all %}
                                    <tr>
                                        <td>{{ intern_logbook.id }}</td>
                                        <td>{{ intern_logbook.intern.first_name }} {{ intern_logbook.intern.last_name }}</td>
                                        <td><a href="{% url 'host_emp_intern_logbook' intern_logbook_id=intern_logbook.id %}">{{ intern_logbook.logbook_template }}</a></td>
                                        <td>{{ intern_logbook.logbook_template.qualification }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        const DutiesSectionEL = document.getElementById('duties')
        const LogbooksSectionEL = document.getElementById('logbooks')
        function ViewInternLogbooks() {
            DutiesSectionEL.style.display = DutiesSectionEL.style.display === 'none'? 'block' : 'none'
            LogbooksSectionEL.style.display = LogbooksSectionEL.style.display === 'none'? 'block' : 'none'
        }
    </script>
{% endblock content %} 

