{% extends "web/global/base.html" %}
{% load static %}
{% block title %}| Marketing {% endblock title %}
{% block content %}
	<!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
	<!-- Add your site or application content here -->
	<main>
		{% include "web/pages/marketing/marketing.html" %}
	</main>
	<!--footer-area start-->
	{% include "web/essentials/footer.html" %}
	<!--footer-area end-->

{% endblock content %}