<footer class="heding-bg footer-area pt-100">
    <div class="container">
        <div class="row mb-15">
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay=".1s">
                <div class="footer__widget mb-30">
                    <h6 class="widget-title text-white pb-20 mb-35">About Internship Success</h6>
                    <p>Internship Success is a professional internship placement and management company which seeks to see all graduates benefit from a well-structured internship program.
                    </p>
                    <div class="footer__social mt-30">
                        <a href="https://web.facebook.com/profile.php?id=100091806840414"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://x.com/IntrnShpSuccess"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/internship_success/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/@internshipsuccess001"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay=".3s">
                <div class="border-theme footer__widget mb-30 pl-135 pl-md-0 pl-xs-0">
                    <h6 class="widget-title text-white pb-20 mb-35">Main Menu</h6>
                    <ul class="fot-list">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about-page' %}">About Us</a></li>
                        <li><a href="{% url 'services-page' %}">Key Services</a></li>
                        <li><a href="{% url 'contact-page' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay=".5s">
                <div class="footer__widget mb-25 pl-25 pl-md-0 pl-xs-0">
                    <h6 class="widget-title text-white pb-20 mb-35">Get In Touch</h6>
                    <ul class="fot-list fot-list-1">
                        <li><a href="#"> +27 13 753 3353</a></li>
                        <li><a href="#">recruit@wopcoe.com</a></li>
                        <li><a href="#">Mon - Fri:<span> 07h30 - 16h30</span></a>
                        </li>
                        <li>
                            <a href="#">1st Floor, Shell House
                                Ferreira St, Mbombela. 1200 </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay=".7s">
                <div class="footer__widget mb-30">
                    <h6 class="widget-title text-white pb-20 mb-35">Subscribe Now</h6>
                    <form class="subscribe-form" action="#">
                        <div class="input-box mb-10">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="input-box mail-input mb-10">
                            <input type="text" placeholder="Enter email address">
                        </div>

                        <button class="theme_btn subscribe-btn">Subscribe Now <i
                                class="fal fa-long-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-border">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright text-center text-md-start">
                        <p style="color: #fff;">Internship Success &#169;2024 </a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center text-md-end">
                    <ul class="footer-nav">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>