{% extends "administration/global/base.html" %}
{% block content %}   
<div class="page-heading">
    <h3>Induction Applications - IND{{induction_post.id}} </h3>
</div> 
<div class="page-content"> 
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <a href="">Induction Application Post (IND{{induction_post.id}})</a>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="index.html">Induction Posts</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Application</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Minimal jQuery Datatable start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Induction 
                </h5>
            </div>
            <script>

            
            function CreateInductionPost() {
                // Specify URL and window properties
                var url = '{% url "induction-create" %}'; // URL of the content to be loaded in the popup
                var windowName = 'Popup'; // Name of the popup window
                var width = 500; // Width of the popup window
                var height = 700; // Height of the popup window
                var left = (window.innerWidth - width) / 2; // Position the popup window horizontally
                var top = (window.innerHeight - height) / 2; // Position the popup window vertically
                var features = 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes';
                // Open the popup window
                var popup = window.open(url, windowName, features);
            }

          </script>
            <div class="card-body">
                <div class="table-responsive datatable-minimal">
                    <table class="table" id="induction-posts">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Nationl ID (RSA)</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Qualification</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for application in induction_post_applications %}
                        <tr>
                            <td>{{ application.id }}</td>
                            <td>{{ application.name }}</td>
                            <td>{{ application.surname }}</td>
                            <td>{{ application.national_id }}</td>
                            <td>{{ application.phone_number }}</td>
                            <td>{{ application.email }}</td>
                            <td>{{ application.qualification }}</td>
                            <td>{{ application.age }}</td>
                            <td>{{application.gender}}</td>
                            <td>{{ application.status }}</td>
                            <!-- <td><a href="{% url 'induction-application-view' application.id %}">More Information</a></td> -->
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="ViewInductionApplication(this)" data-url="{% url 'induction-application-view' application.id %}">More Information</button>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        function ViewInductionApplication(button) {
                        // Specify URL and window properties
                        var url = button.getAttribute('data-url');
                        var windowName = 'Popup'; // Name of the popup window
                        var width = 1000; // Width of the popup window
                        var height = 800; // Height of the popup window
                        var left = (window.innerWidth - width) / 2; // Position the popup window horizontally
                        var top = (window.innerHeight - height) / 2; // Position the popup window vertically
                        var features = 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes';
                        // Open the popup window
                        var popup = window.open(url, windowName, features);
            }
                    </script>
                </div>
            </div>
        </div>
    </section>
    <form action="{% url 'admit-all-applications' %}" method="post">
        {% csrf_token %}
        <button type="submit">Admit All Applications</button>
    </form>
    <!-- Minimal jQuery Datatable end -->
</div>
{% endblock content %}