{% extends "administration/global/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .coming-soon {
            font-size: 36px; /* Adjust the size as needed */
            text-align: center;
            margin-top: 20%; /* Pushes the text to the vertical center */
            font-weight: bold;
        }
    </style>
</head>   
<div class="page-heading">
    <h3>Host Employers</h3>
</div> 

<div class="coming-soon">
    <p>Page coming soon</p>
</div>

{% endblock content %}
