{% extends "web/global/base.html" %}
{% load static %}
{% block title %}| News and Updates {% endblock title %}
{% block content %}
	<!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
	<!-- Add your site or application content here -->
	<main>
		<!--page-title-area start-->
		{% include "web/pages/news/page-title-area.html" %}
		<!--page-title-area end-->
		<!--services-area start-->
		{% include "web/pages/news/services-area.html" %}
		<!--services-area end-->
		<!--brand-area start-->
		{% include "web/pages/news/brand-area.html" %}
		<!--brand-area end-->
	</main>
	<!--footer-area start-->
	{% include "web/essentials/footer.html" %}
	<!--footer-area end-->
{% endblock content %}